body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, sans-serif;
    height: 100vh;
}

#gameBoard {
    display: grid;
    grid-template: repeat(3, 100px) / repeat(3, 100px);
    gap: 5px;
}

.cell {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
}

.cell:hover {
    background-color: #ddd;
}
